<div class="content" xmlns:th="http://www.w3.org/1999/xhtml">



    <div class="mb-4">
        <h1 th:text="'Bem-vindo(a), ' + ${pessoa.nome} + '!'">Bem-vindo!</h1>
        <p>Essa é seu Dashboard.</p>
    </div>
    <div th:if="${mensagem}" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" fill="green" viewBox="0 0 16 16" role="img" aria-label="Success:">
            <path d="M16 8a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM6.93 10.588l-2.47-2.47 1.06-1.06L6.93 8.47l4.95-4.95 1.06 1.06-6.01 6.01z"/>
        </svg>
        <span th:text="${mensagem}"></span>
    </div>

    <div class="row mb-4">
        <!-- Card: Próximas Consultas -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Próximas Consultas</h5>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group">
                            <li class="list-group-item" th:each="desc : ${descricoesConsultas}" th:text="${desc}"></li>
                        </ul>
                        <li class="list-group-item" th:if="${#lists.isEmpty(descricoesConsultas)}">
                            Nenhuma consulta agendada.
                        </li>'
                    </ul>

                </div>
            </div>
        </div>

        <!-- Card: Funcionários -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Funcionários</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="f : ${funcionarios}">
                            <span th:text="|${f.nome} - ${f.setor}|"></span>
                        </li>
                        <li class="list-group-item" th:if="${#lists.isEmpty(funcionarios)}">
                            Nenhum funcionário cadastrado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Card: Médicos Disponíveis -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Médicos Disponíveis</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="m : ${medicos}">
                            <span th:text="|${m.nome} - ${m.especialidade}|"></span>
                        </li>
                        <li class="list-group-item" th:if="${#lists.isEmpty(medicos)}">
                            Nenhum médico cadastrado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>