<div class="content" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="mb-4">
        <h1 th:text="'Bem-vindo(a), ' + ${pessoa.nome} + '!'">Bem-vindo!</h1>
        <p>Essa é seu Dashboard.</p>
    </div>

    <div class="row mb-3">
        <!-- Card: Próximas Consultas -->
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Próximas Consultas (7 dias)</h5>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group">
                            <li class="list-group-item" th:each="desc : ${descricoesConsultas}" th:text="${desc}"></li>
                        </ul>
                        <li class="list-group-item" th:if="${#lists.isEmpty(descricoesConsultas)}">
                            Nenhuma consulta agendada.
                        </li>

                    </ul>

                </div>
            </div>
        </div>

        <!-- Card: Funcionários -->
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Funcionários</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="f : ${funcionarios}">
                            <span th:text="|${f.nome} - ${f.setor}|"></span>
                        </li>
                        <li class="list-group-item" th:if="${#lists.isEmpty(funcionarios)}">
                            Nenhum funcionário cadastrado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Card: Médicos Disponíveis -->
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Médicos</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="m : ${medicos}">
                            <span th:text="|${m.nome} - ${m.especialidade}|"></span>
                        </li>
                        <li class="list-group-item" th:if="${#lists.isEmpty(medicos)}">
                            Nenhum médico cadastrado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Card: Pacientes Disponíveis -->
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pacientes</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="p : ${pacientes}">
                            <span th:text="|${p.nome}|"></span>
                        </li>
                        <li class="list-group-item" th:if="${#lists.isEmpty(pacientes)}">
                            Nenhum paciente cadastrado.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>